[submodule "third_party/mpv"]
	path = third_party/mpv
	url = https://github.com/mpv-player/mpv.git
[submodule "third_party/ffmpeg"]
	path = third_party/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "third_party/dav1d"]
	path = third_party/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "third_party/lua"]
	path = third_party/lua
	url = https://github.com/lua/lua.git
